<div class="container mb-3">
  <mat-card>
    <mat-card-content>
      <mat-card-title class="mb-3">Pagamento</mat-card-title>
      <div class="row align-items-center">
        <div class="col col-12 col-md-6 col-lg">
          <mat-form-field class="w-100">
            <mat-label>Valor</mat-label>
            <input matInput type="text" appMascaraMonetaria [formControl]="formPagamento.controls.valor">
          </mat-form-field>
        </div>
        <div class="col col-12 col-md-6 col-lg">
          <mat-form-field class="w-100">
            <mat-label>Percentual</mat-label>
            <input matInput type="text" appPercentual [formControl]="formPagamento.controls.percentual">
          </mat-form-field>
        </div>
        <div class="col col-12 col-md-6 col-lg mb-3">
          <mat-radio-group [formControl]="formPagamento.controls.parcelado" class="w-100">
            <mat-radio-button [value]="false">A vista</mat-radio-button>
            <mat-radio-button [value]="true">Parcelado</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col col-12 col-md-6 col-lg" *ngIf="formPagamento.controls.parcelado.value">
          <mat-form-field class="w-100">
            <mat-label>Número de parcelas</mat-label>
            <input matInput type="number" [formControl]="formPagamento.controls.numParcelas" [min]="2" [max]="12">
          </mat-form-field>
        </div>
        <div class="col col-12 col-md-6 col-lg" *ngIf="!formPagamento.controls.parcelado.value">
          <mat-form-field class="w-100">
            <mat-label>Data de pagamento</mat-label>
            <input matInput [matDatepicker]="picker" [formControl]="formPagamento.controls.data">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-divider *ngIf="ativo" class="mt-3"></mat-divider>
    <mat-card-actions *ngIf="ativo" class="d-flex justify-content-end gap-3">
      <button mat-flat-button color="basic" (click)="cancelar()">Cancelar</button>
      <button mat-flat-button color="primary" (click)="avancar()">Confirmar</button>
    </mat-card-actions>
  </mat-card>
</div>